
body {
  background-color: #F2E530;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

canvas {
  position: absolute;
}

#myView {
  position: absolute;
  margin: 2%;
  z-index: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  font-weight: bold;
  font-size: calc(2em + 2vw);
  line-height: 1;
  text-transform: uppercase;
  -webkit-text-stroke: rgb(255, 255, 255) 1px;
}
